
/* ======= STYLING FOR WPB VISUAL COMPOSER ======= */

#visual_composer_content {
	padding: 0;
	}
.vc_row {
	margin: 0;
	}
.wpb_vc_row,
.wpb_vc_row_inner {
	position: relative;
	}
.vc_collapsed-row {
	height: 24px;
	margin-bottom: 2px;
	overflow: hidden;
	}
	
.wpb_vc_row > .controls_row {
	background-color: #999;
	line-height: 0;
	}
.wpb_vc_row_inner > .controls_row {
	background-color: #e6e6e6;
	}
	.controls_row a.vc_control {
		border-radius: 0;
		margin: 0;
		background-color: transparent;
		-webkit-transition: background-color 0.5s;
				transition: background-color 0.5s;
		}
	.wpb_vc_row > .controls > .column_move,
	.wpb_vc_row_inner > .controls > .column_move {
		background: none !important;
		border-radius: 0;
		}
	.controls_row .vc_row_layouts {
		margin: 0;
		border-radius: 0;
		}
		.controls_row .vc_control-set-column.custom_columns {
			background: none !important;
			}
	.wpb_vc_row > .controls_row .vc_icon {
		background-position: 0 0;
		}
	.wpb_vc_row > .controls_row .vc_control.column_add .vc_icon {
		background-position: 0 -16px;
		}
	.wpb_vc_row > .controls_row .vc_control.column_edit .vc_icon {
		background-position: 0 -32px;
		}
	.wpb_vc_row > .controls_row .vc_control.column_clone .vc_icon {
		background-position: 0 -48px;
		}
	.wpb_vc_row > .controls_row .vc_control.column_delete .vc_icon {
		background-position: 0 -64px;
		}
	.wpb_vc_row > .controls_row .vc_control.column_toggle .vc_icon {
		background-position: 0 -96px;
		}
	.wpb_vc_row > .vc_collapsed-row > .controls .column_toggle .vc_icon {
		background-position: 0 -112px;
		}
		.wpb_vc_row > .controls_row a.vc_control:hover,
		.wpb_vc_row > .controls > .column_move:hover {
			background-color: rgba(0,0,0,0.25);
			}
		.wpb_vc_row_inner > .controls_row a.vc_control:hover,
		.wpb_vc_row_inner > .controls > .column_move:hover {
			background-color: rgba(0,0,0,0.1);
			}
		.wpb_vc_row > .controls .column_delete:hover {
			background-color: #f44 !important;
			}
		.vc_control:hover .vc_icon {
			opacity: 1;
			}
			
.wpb_row_container > .wpb_vc_column,
.wpb_row_container > .wpb_vc_column_inner {
	margin: 0;
	padding: 0;
	border-left: 1px dotted #ccc;
	}
.wpb_row_container > .wpb_vc_column:first-child,
.wpb_row_container > .wpb_vc_column_inner:first-child {
	border-left: none;
	}
	.vc_controls {
		font-size: 0;
		padding: 0 !important;
		}
		.vc_shortcodes_container > .vc_controls .vc_control,
		.wpb_row_container > .wpb_vc_column > .vc_controls .vc_control,
		.wpb_row_container > .wpb_vc_column_inner > .vc_controls .vc_control {
			border: none;
			height: 18px;
			width: 30px;
			margin: 0;
			padding: 3px 0 !important;
			border-radius: 0;
			opacity: 0;
			-webkit-transition: background-color 0.5s, opacity 0.5s;
					transition: background-color 0.5s, opacity 0.5s;
			}
		.vc_shortcodes_container:hover > .vc_controls .vc_control,
		.wpb_row_container > .wpb_vc_column:hover > .vc_controls .vc_control,
		.wpb_row_container > .wpb_vc_column_inner:hover > .vc_controls .vc_control {
			opacity: 1;
			}
		.vc_shortcodes_container > .vc_controls .vc_control:hover,
		.wpb_row_container > .wpb_vc_column > .vc_controls .vc_control:hover,
		.wpb_row_container > .wpb_vc_column_inner > .vc_controls .vc_control:hover {
			background-color: rgba(0,0,0,0.08);
			}

.wpb_content_element {
	background: none !important;
	}
	.wpb_content_element > .wpb_element_wrapper {
		box-shadow: 0 1px 0 rgba(0,0,0,0.05);
		}
		.wpb_vc_tab .wpb_content_element > .wpb_element_wrapper,
		.wpb_vc_accordion_tab .wpb_content_element > .wpb_element_wrapper,
		.wpb_vc_column_inner .wpb_content_element > .wpb_element_wrapper {
			box-shadow: none;
			}
.wpb_content_element,
.wpb_vc_row_inner,
.wpb_vc_row_inner.wpb_sortable {
	margin: 1px 0 0;
	}
	.wpb_content_element:first-child,
	.wpb_vc_row_inner:first-child {
		margin: 0;
		}
.wpb_vc_separator > .wpb_element_wrapper {
	background-color: #f5f5f5;
	box-shadow: none;
	}
	.wpb_vc_tab .wpb_vc_separator > .wpb_element_wrapper,
	.wpb_vc_accordion_tab .wpb_vc_separator > .wpb_element_wrapper,
	.wpb_vc_column_inner .wpb_vc_separator > .wpb_element_wrapper {
		background-color: #fff;
		}
.wpb_row_container > .wpb_vc_column_inner > .wpb_element_wrapper,
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .wpb_element_wrapper {
	padding: 0 14px;
	}
	
.vc_empty-container {
	min-height: 55px;
	}

#poststuff .wpb_vc_accordion .tab_controls .add_tab {
	height: auto;
	padding: 5px;
	border: none;
	border-radius: 2px;
	opacity: 1;
	background-color: #e6e6e6;
	color: #848c91;
	}
	
#visual_composer_content .wpb_vc_column_text h1,
#visual_composer_content .wpb_vc_column_text h2,
#visual_composer_content .wpb_vc_column_text h3,
#visual_composer_content .wpb_vc_column_text h4,
#visual_composer_content .wpb_vc_column_text h5,
#visual_composer_content .wpb_vc_column_text h6 {
	font-weight: normal;
	line-height: 1.2em;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0.6em;
	border: none;
	color: #444;
	}
	#visual_composer_content .wpb_vc_column_text h1:last-child,
	#visual_composer_content .wpb_vc_column_text h2:last-child,
	#visual_composer_content .wpb_vc_column_text h3:last-child,
	#visual_composer_content .wpb_vc_column_text h4:last-child,
	#visual_composer_content .wpb_vc_column_text h5:last-child,
	#visual_composer_content .wpb_vc_column_text h6:last-child {
		margin: 0;
		}
#visual_composer_content .wpb_vc_column_text h1 {
	font-size: 2.2em;
	}
#visual_composer_content .wpb_vc_column_text h2 {
	font-size: 2em;
	}
#visual_composer_content .wpb_vc_column_text h3 {
	font-size: 1.8em;
	}
#visual_composer_content .wpb_vc_column_text h4 {
	font-size: 1.6em;
	}
#visual_composer_content .wpb_vc_column_text h5 {
	font-size: 1.4em;
	}
#visual_composer_content .wpb_vc_column_text h6 {
	font-size: 1.2em;
	}

#vc_portfolio .icon-wpb-ui-separator-label {
	background-position: 0 -32px;
	}
	.wpb_vc_portfolio.wpb_content_element .vc_element-icon {
		background-position: 0 -32px;
		}
#vc_social_links .icon-wpb-ui-separator {
	background-position: 0 -96px;
	}
	.wpb_vc_social_links.wpb_content_element .vc_element-icon {
		background-position: 0 -96px;
		}
#vc_video .icon-wpb-film-youtube {
	background-position: 0 -160px;
	}
	.wpb_vc_video.wpb_content_element .vc_element-icon {
		background-position: 0 -160px;
		}
#vc_blog .icon-wpb-ui-separator-label,
#vc_latest_posts .icon-wpb-ui-separator-label {
	background-position: 0 -384px;
	}
	.wpb_vc_blog.wpb_content_element .vc_element-icon,
	.wpb_vc_latest_posts.wpb_content_element .vc_element-icon {
		background-position: 0 -384px;
		}
#vc_actionbox .icon-wpb-ui-separator-label {
	background-position: 0 -704px;
	}
	.wpb_vc_actionbox.wpb_content_element .vc_element-icon {
		background-position: 0 -704px;
		}
#vc_simple_slider .icon-wpb-images-stack {
	background-position: 0 -1056px;
	}
	.wpb_vc_simple_slider.wpb_content_element .vc_element-icon {
		background-position: 0 -1056px;
		}
#vc_iconbox .icon-wpb-ui-separator-label {
	background: url("../img/vc_elements.png") 0 0;
	}
	.wpb_vc_iconbox.wpb_content_element .vc_element-icon {
		background: url("../img/vc_elements.png") 0 0;
		}
#vc_clients .icon-wpb-ui-separator-label {
	background: url("../img/vc_elements.png") 0 -32px;
	}
	.wpb_vc_clients.wpb_content_element .vc_element-icon {
		background: url("../img/vc_elements.png") 0 -32px;
		}
#vc_testimonial .icon-wpb-ui-separator-label {
	background: url("../img/vc_elements.png") 0 -64px;
	}
	.wpb_vc_testimonial.wpb_content_element .vc_element-icon {
		background: url("../img/vc_elements.png") 0 -64px;
		}
#vc_counter .icon-wpb-ui-separator {
	background: url("../img/vc_elements.png") 0 -96px;
	}
	.wpb_vc_counter.wpb_content_element .vc_element-icon {
		background: url("../img/vc_elements.png") 0 -96px;
		}
#vc_member .icon-wpb-ui-separator-label {
	background: url("../img/vc_elements.png") 0 -128px;
	}
	.wpb_vc_member.wpb_content_element .vc_element-icon {
		background: url("../img/vc_elements.png") 0 -128px;
		}
#vc_contacts .icon-wpb-ui-separator {
	background: url("../img/vc_elements.png") 0 -160px;
	}
	.wpb_vc_contacts.wpb_content_element .vc_element-icon {
		background: url("../img/vc_elements.png") 0 -160px;
		}
#vc_contact_form .icon-wpb-ui-separator {
	background: url("../img/vc_elements.png") 0 -192px;
	}
	.wpb_vc_contact_form.wpb_content_element .vc_element-icon {
		background: url("../img/vc_elements.png") 0 -192px;
		}
#vc_icon .icon-wpb-ui-separator-label {
	background-position: 0 -1312px;
	}
	.wpb_vc_icon.wpb_content_element .vc_element-icon {
		background-position: 0 -1312px;
		}
		
.vc_row.wpb_edit_form_elements {
	padding-bottom: 20px;
	}
.wpb_edit_form_elements .vc_column:first-child {
	padding-top: 15px;
	}

.wpb_edit_form_elements textarea,
.wpb_edit_form_elements input[type="text"],
.wpb_edit_form_elements input[type="password"],
.wpb_edit_form_elements input[type="file"],
.wpb_edit_form_elements input[type="email"],
.wpb_edit_form_elements input[type="number"],
.wpb_edit_form_elements input[type="search"],
.wpb_edit_form_elements input[type="tel"],
.wpb_edit_form_elements input[type="url"],
.wpb_edit_form_elements select {
	background-color: #f5f5f5;
	box-shadow: none;
	}
.wpb_edit_form_elements input[type="text"],
.wpb_edit_form_elements input[type="password"],
.wpb_edit_form_elements input[type="file"],
.wpb_edit_form_elements input[type="email"],
.wpb_edit_form_elements input[type="number"],
.wpb_edit_form_elements input[type="search"],
.wpb_edit_form_elements input[type="tel"],
.wpb_edit_form_elements input[type="url"] {
	height: 38px;
	}
.vc_description {
	margin-top: 4px;
	}
	
.wpb_element_wrapper .ui-widget-content,
.wpb_element_wrapper .ui-widget-header {
	background: none;
	border: none;
	color: inherit;
	}
.wpb-edit-form .ui-widget-content,
.wpb-edit-form .ui-widget-header,
.wpb-edit-form .ui-state-active,
.wpb-edit-form .ui-state-default {
	background-image: none;
	border: none;
	color: inherit;
	}
	
.vc_column.wpb_el_type_colorpicker {
	width: 50%;
	}
	
.wpb_vc_message div.error {
	margin: 0;
	}
	
.wpb-select.fade,
.wpb-select option.fade {
	opacity: 1 !important;
	}	
.wpb-select option.alternate {
	background-color: #f5f5f5 !important;
	}
div[data-title="Edit Message Box"] .wpb-select.color {
	background-color: #f5f5f5 !important;
	border-color: #ddd !important;
	color: #222 !important;
	}
	
.wpb_vc_message .alert {
	border: none !important;
	}
	
.wpb_vc_message .alert.info,
.wpb-select option.info {
	background-color: #cef;
	color: #3a648e;
	}
.wpb_vc_message .alert.attention,
.wpb-select option.attention {
	background-color: #fff2b2;
	color: #846534;
	}
.wpb_vc_message .alert.success,
.wpb-select option.success {
	background-color: #c9f7b2;
	color: #587549;
	}
.wpb_vc_message .alert.error,
.wpb-select option.error {
	background-color: #ffd9d9;
	color: #a24141;
	}

.wpb-select option.red {
	background-color: #f40;
	color: #fff;
	}
.wpb-select option.blue {
	background-color: #5ac8ed;
	color: #fff;
	}
.wpb-select option.green {
	background-color: #59ba41;
	color: #fff;
	}
.wpb-select option.yellow {
	background-color: #fac000;
	color: #fff;
	}
.wpb-select option.midnight {
	background-color: #2c3e50;
	color: #fff;
	}
.wpb-select option.purple {
	background-color: #8560a8;
	color: #fff;
	}
.wpb-select option.pink {
	background-color: #ff6b93;
	color: #fff;
	}
.wpb-select option.navy {
	background-color: #1265a8;
	color: #fff;
	}
.wpb-select option.teal {
	background-color: #008b83;
	color: #fff;
	}
.wpb-select option.brown {
	background-color: #6a4530;
	color: #fff;
	}
.wpb-select option.cream {
	background-color: #f5ddbf;
	color: #3d3934;
	}
.wpb-select option.lime {
	background-color: #baeb59;
	color: #323629;
	}

/* Remove the excess Visual Composer Button */
#menu-posts-vc_grid_item {
	display: none;
	}
	
/* Fix invisible message box of Ultimate Addons */
.wrap > .fade {
	opacity: 1;
	}
	
.vc_container_for_children.ui-widget {
	font-family: inherit;
	font-size: inherit;
	}
	
.edit_form_line .wpb-input.columns {
	float: none;
	margin: 0;
	min-height: auto;
	width: 100%;
	}
	
.vc_admin_label.admin_label_bg_type {
	position: absolute;
	right: 170px;
	top: 0;
	z-index: 11;
	line-height: 24px;
	color: #ddd;
	}

.us-info-text input {
	display: none;
	}
	
.wpb_vc_param_value.colorpicker {
	display: none;
	}