/*-----------------------------------------------------------------------------------
/* Admin styles
/*-----------------------------------------------------------------------------------*/

a:focus, a:active {
	outline: 0 none;
}

.updated, .error {
	display: none !important;
}

#of_container {
	margin: 20px 0 0;
	width: 840px;
	position:relative;
	z-index: 0;
}
#of_container #header {
	height: 90px;
	background-color: #222;
}
#of_container #header .logo {
	float: left;
	margin: 25px 30px;
}
#of_container #js-warning {
	color: red;
	float: left;
	margin: 20px 10px;
	width: 330px;
}
#of_container ul,#of_container ol {margin: 0;}
.js #of_container #js-warning {
	display: none;
}

#of_container #header .logo h2 {
	display: inline-block;
	text-transform: uppercase;
	padding: 0 5px 0 0;
	color: #fff;
	font: bold 22px/40px "Open Sans";
}
#of_container #header .logo span {
	font-size: 22px;
	font-weight: 300;
	color: #999;
}
#of_container #header .icon-option {
	float: right;
	height: 32px;
	width: 32px;
	background: none;
	margin:20px 30px 0;
}

#of_container #info_bar {
	position: absolute;
	right: 30px;
	top: 30px;
	height: 30px;
	text-align: right;
}

#of_container #expand_options{
	cursor: pointer;
	display: none;
	height: 22px;
	width: 21px;
	float: left;
	font-size:0px;
	text-indent: -9999px;
	margin: 2px 0 0 10px;
	border: 1px solid #bbb;
}
#of_container #expand_options:hover {
	cursor: pointer;
	border-color: #888;
}
#of_container #main {
	background-color: #e2e2e2;
}
#of_container #of-nav {
	float: left;
	position: relative;
	z-index: 9999;
	width: 180px;
}
#of_container #of-nav ul {
	margin:0;
}
#of_container #of-nav li {
	margin-bottom:0;
}

#of_container #of-nav li.current {
	margin-right: 0;
}

#of_container #of-nav li a,
#of-nav ul li a:visited {
	display: block;
	padding: 10px 20px 10px 46px;
	background-repeat: no-repeat;
	background-position: 20px 12px;
	font-weight: bold;
	text-decoration: none;
	color: #555;
	box-shadow: none !important;
	transition: all 0.2s ease;
}
#of_container #of-nav ul li a:hover {
	background-color: #eee;
	color: #08c;
}
#of_container #of-nav ul li.current a {
	background-color: #fff;
	color: #333;
}

/*menu icons - customize to your liking*/
#of_container #of-nav li.generalsettings a { background-image:url(../images/settings.png);}
#of_container #of-nav li.layoutoptions a { background-image:url(../images/layout.png);}
#of_container #of-nav li.styling a { background-image:url(../images/style.png);}
#of_container #of-nav li.menuoptions a { background-image:url(../images/menu.png);}
#of_container #of-nav li.headeroptions a { background-image:url(../images/header.png);}
#of_container #of-nav li.footeroptions a { background-image:url(../images/footer.png);}
#of_container #of-nav li.portfoliooptions a { background-image:url(../images/portfolio.png);}
#of_container #of-nav li.shopoptions a { background-image:url(../images/store.png);}
#of_container #of-nav li.typography a { background-image:url(../images/font.png);}
#of_container #of-nav li.blogoptions a { background-image:url(../images/blog.png);}
#of_container #of-nav li.contactform a { background-image:url(../images/contact.png);}
#of_container #of-nav li.woocommerce a { background-image:url(../images/cart.png);}
#of_container #of-nav li.bbpress a { background-image:url(../images/comments.png);}
#of_container #of-nav li.themeupdate a { background-image:url(../images/update.png);}
#of_container #of-nav li.manageoptions a { background-image:url(../images/backups.png);}

#of_container #content {
	float: left;
	min-height: 500px;
	width: 600px;
	padding: 30px 30px 1px;
	background-color: #fff;
}
#of_container #content .section {
	margin-bottom: 10px;
}
#of_container #content .section:after {
	content: '';
	clear: both;
}
#of_container #content .section.section-color {
	margin-bottom: -1px;
	overflow: hidden;
}
#of_container #content .section.section-color.f_boxed_layout {
	margin-bottom: 20px;
}
#of_container #content .section.section-info,
#of_container #content .section.section-switch {
	margin-bottom: 20px;
	clear: both;
}
#of_container #content #of-option-styling .section.section-switch {
	padding-top: 10px;
	margin-bottom: 10px;
}
#of_container #content #of-option-styling .section.section-switch#section-boxed_layout {
	padding-top: 30px;
	margin-bottom: 20px;
}
#of_container #content #of-option-styling .section.section-switch.f_boxed_layout {
	padding-top: 0;
	margin-bottom: 20px;
}
#section-custom_css {
	padding-top: 20px;
}
#of_container #content .section h3.heading {
	font-size: 1.2em;
	margin: 0 0 10px;
	line-height: 18px;
}
#of_container #section-change_header_colors.section h3.heading {
	margin: -10px 0 15px;
}
#of_container #content .section .controls {
	float: left;
	width: 360px;
	margin: 0 15px 0 0;
	position: relative;
}
#of_container #content .section.section-switch .controls {
	width: auto;
}
#of_container #content .section.section-images .controls {
	width: auto;
	margin: 0;
}
#of_container #content .section .explain {
	float: left;
	width: 225px;
	padding: 0;
	font-size: 13px;
	color: #9aa0a6;
}
#of_container #content #section-custom_css.section .explain {
	font-size: 14px;
	line-height: 20px;
	padding-top: 5px;
	width: auto;
}
#of_container #content .section.section-color .explain {
	font-size: 14px;
	line-height: 35px;
	width: auto;
	color: #333;
}
#of_container #content .section.section-switch .explain {
	font-size: 14px;
	line-height: 30px;
	width: auto;
	color: #758DA5;
}
#of_container #content .section-checkbox {
	float: left;
	margin: 15px 15px 15px 0;
}
#of_container #content #section-blog_read_more.section-checkbox,
#of_container #content #section-archive_read_more.section-checkbox,
#of_container #content #section-search_read_more.section-checkbox {
	margin-right: 0;
}
#of_container #content .section-checkbox .controls {
	width: 20px;
	margin: 0;
}
#of_container #content .section-checkbox .explain {
	width: auto;
	color: inherit;
}
#of_container #content .section-color .controls {
	width: 107px;
	margin-right: 10px;
}
#of_container #content .section-color .explain {
	width: 440px;
}
#of_container #content .section-info h3.heading {
	display:none;
}
#of_container #content .section-info .controls {
	float: none;
	width: auto;
	margin: 0 0 10px;
}
#of_container #content .section-info .controls .of-info {
	padding: 16px 20px;
	line-height: 1.5em;
	font-size: 13px;
	background-color: #dbf2ff;
}
#of_container #content #of-option-styling .section-info .controls .of-info,
/*#of_container #content #of-option-headeroptions .section-info .controls .of-info,*/
#of_container #content #of-option-footeroptions .section-info .controls .of-info {
	padding: 15px 30px;
	margin: 0 -30px;
	border-left: none;
	border-right: none;
}
#of_container #content #of-option-styling .section-info .controls .of-info h3,
#of_container #content #of-option-headeroptions .section-info .controls .of-info h3,
#of_container #content #of-option-footeroptions .section-info .controls .of-info h3 {
	color: #506370;
}

#of_container #content .section-info .controls .of-info ._icon {
	height: 16px;
	width: 16px;
	margin: 0 10px 0 0;
	float: left;
}
#of_container #content .section-info .controls small {
	font-size: 12px
}

#of_container .sorter {margin-right: -20px;}
#of_container .sorter ul {
	background: #f5f5f5;
	border: 1px dashed #E3E3E3;
	min-height: 40px;
	padding: 10px 10px 0;
	width: 145px;
	float: left;
	margin: 0 15px 0 0;
}
#of_container  .sorter ul h3 {
	margin: 0 0 10px;
	text-align: center;
	color: #777;
	text-transform: capitalize;
}
#of_container  .sorter ul li {
	border: 1px solid #DFDFDF;
	cursor: move;
	font-weight: bold;
	margin-bottom:10px;
	padding:0 10px;
	height: 40px;
	line-height: 40px;
	background-color: #f5f5f5;
	overflow: hidden;
	box-shadow: inset 0 1px 0 #fff;
	text-align:center;
}

#of_container #content .section-sorter li.placeholder {
	background: #f5f5f5;
	border-width: 1px;
	border-style: dashed;
	height: 40px;
}

#of_container #content .section-slider li.placeholder {
	background: #f5f5f5;
	border-width: 1px;
	border-style: dashed;
	height: 33px;
}

#of_container textarea, #of_container input, #of_container select, #of_container button {
	border-style: solid;
	border-width: 1px;
}
#of_container .controls input,
#of_container .controls select,
#of_container .controls textarea {
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	width: 340px;
	height: 36px;
	padding: 6px;
	margin: 0 0 10px;
	box-shadow: none;
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	transition: all 0.2s ease;
}
#of_container .controls textarea {
	resize: vertical;
	height: auto;
}

#of_container .controls input:focus,
#of_container .controls textarea:focus,
#of_container select:focus {
	border-color: #08c;
	background-color: #fff;
	outline: 0;
}
#of_container .section-sliderui .controls input {
	font-size: 16px;
	text-align: center;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	cursor: default;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
}

#of_container .controls .upload {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#of_container .button,
#of_container .button-secondary,
#of_container .button-primary {
	line-height: 26px;
	padding: 0 20px;
	height: auto;
	transition: all 0.2s ease;
}

#of_container .controls select,
#of_container .controls textarea,
#of_container .controls .upload,
#of_container input[type=text] {
	width: 360px;
}
#of_container input.checkbox {
	width: auto;
	height: 20px;
}
#of_container input.of-radio {
	width: 30px;
}
label.radio, label.multicheck {
  position: relative;
}
#of_container .controls .input-text-small {
	width: 60px;
	margin-right: 10px;
}
#of_container .meta-two {
	margin-right: 10px;
}
#of_container .controls .of-color {
	float: left;
	width: 72px;
	height: 36px;
	padding: 5px;
	margin: 0;
	position: relative;
}
#of_container .controls .of-color:focus {
	z-index: 1;
}
#of_container #content .section-typography .controls {
	width:440px
}
#of_container #content .section-typography .explain {
	width:130px
}
#of_container .controls .of-typography-size {
	width:70px;
	float:left
}
#of_container .controls .of-typography-unit {
	width:60px;
	float:left
}
#of_container .controls .of-typography-face {
	width:145px;
	float:left
}
#of_container .controls .of-typography-style {
	width:95px;
	float:left
}
#of_container .controls .of-radio-img-img {
	display: none;
	float: left;
	margin: 0 4px 10px 0;
	cursor: pointer;
	width: 141px;
	border: 3px solid #fff;
	-webkit-transition: opacity 0.3s;
			transition: opacity 0.3s;
}
#of_container .controls span:last-child .of-radio-img-img {
	margin-right: 0;
}
#of_container .controls .of-radio-img-selected {
	border-color: #2ea2cc;
}
#of_container .controls .of-radio-img-img:hover {
	opacity: 0.8;
}

#of_container .controls .of-radio-tile-img {
	width:50px;
	height:50px;
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#of_container .controls .of-radio-tile-selected {
	border: 3px solid #2ea2cc;
}
#of_container .controls .of-radio-tile-img:hover {
	opacity: 0.8;
}

#of_container .controls .of-border-width {
	width:70px;
	float:left
}
#of_container .controls .of-border-style {
	width:95px;
	float:left
}
#of_container .group {
	display:none;
	padding-bottom:20px;
}
#of_container .group h2 {
	display: none;
	font-size: 26px;
	line-height: 36px;
	padding: 10px 0 20px;
}

#of_container .accept {
	background: #DBF6BE no-repeat 10px center;
	border: solid #9BBF65;
	border-width: 0px 1px 1px 1px;
	color: #060;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#of_container .warning {
	background: #ffeeee no-repeat 10px center;
	border: solid #dfbfbf;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#of_container .update_available {
	background: #FFFEEB no-repeat 10px center;
	border: solid #CCCCCC;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#of_container .of-save-popup {
	position: absolute;
	background: rgba(0,0,0,0.8);
	font-size: 20px;
	text-align: center;
	display: none;
	left: 320px !important;
}

#of_container .of-save-popup div{
	padding: 30px;
}
#of_container .of-save-save {
	color: #c9f7b2;
}
#of_container .of-save-reset {
	color: #fff2b2;
	left: 320px !important;
}
#of_container .of-save-fail {
	color: #ffd9d9;
	left: 320px !important;
}

#of_container .accept,
#of_container .warning,
#of_container .update_available,
#of_container .of-save-popup {
	z-index: 9999;
}

#of_container .upload_button_div {
	margin-bottom: 10px;
}

#of_container .button {
	border-width: 1px;
	border-style: solid;
	box-shadow: none;
	border-radius: 0;
	border-color: #ccc;
	background-color: #fff;
	margin:4px 0 4px;
}

#of_container .button:hover,#of_container .button_hover {
	border-color: #666;
	color: #333;
}

#of_container .image_reset_button, #of_container .mlu_remove_button {
	margin-left:10px;
	color:#ef521d;
}

#of_container .image_reset_button:hover, #of_container .mlu_remove_button:hover {
	color:red;
}

#of_container .upload-error {
	float: left;
	color: #666;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 0 #FFFFFF;
	margin: 0 10px 0 0;
	padding: 3px 10px;
	background: #FFDFEC;
}
#of_container .reset-button {
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	float: left;
	margin: 0;
	box-shadow: none;
	border-radius: 0;
	background-color: #333;
	border-color: #333;
	color: #999;
}

#of_container .reset-button:hover { color: #fff; border-color: #fff; }

#of_container .slide_add_button { float:right; margin-top:10px; }


#of_container .save_bar {
	background: #222;
	padding: 20px 30px;
	height: 30px;
	text-align: right;
}

#of_save.button-primary {
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	float:right;
	box-shadow: none;
	border-radius: 0;
	background-color: #2EA2CC;
	border-color: #2EA2CC;
}
#of_save.button-primary:hover { border-color: #fff; }

#of_container .hide {
	display:none
}
#of_container .ajax-loading-img-top {
	margin: 3px 10px;
	float: left
}
#of_container .ajax-loading-img-bottom {
	margin: 3px 10px;
}
#of_container .ajax-reset-loading-img {
	display: block;
	margin-left: 140px;
}

#of_container .screenshot {
	max-width:340px;
	margin-bottom:9px;
}

#of_container .of-option-image {
	min-height: 32px;
	max-width: 338px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	background: #f5f5f5;
}
#of_container .select_wrapper {
	float: left;
}

#of_container .mini .controls select, #of_container #content .section .mini .controls, #of_container  .controls .typography-size, #of_container  .controls .border-width,#of_container  .controls .mini,#of_container .mini .controls input, #of_container #content .mini .controls {width: 70px;}
#of_container  .controls .typography-face {width: 145px;}
#of_container  .controls .typography-style, #of_container  .controls .border-style {width: 95px;}
#of_container  .controls .typography-size,#of_container  .controls .typography-face,#of_container  .controls .typography-style, #of_container  .controls .border-width, #of_container  .controls .border-style {margin-right:5px;}

#of_container #content .mini .explain {
	width:500px;
}
#of_container .of-notice {
	background: #ffd1d1;
	border:1px solid #DFDFDF;
	text-align: center;
	margin-bottom: 15px
}

#of_container .slider li {
	width: 345px;
	border: 1px solid #dfdfdf;
	background: #f9f9f9;
	overflow: hidden;
	box-shadow: inset 0 1px 0 #fff;
}

#of_container .slide_header {
	cursor:move;
	height:32px;
	padding-left:10px;
	padding-right:20px;
	line-height:32px;
	background-color: #F1F1F1;
	margin: 1px 0 -1px 0;
	border-bottom: 1px solid #dfdfdf;
	background-image: -ms-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -moz-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -o-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
	background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec);
	background-image: linear-gradient(top,#f9f9f9,#ececec);
	overflow:hidden;
	position: relative;
}

#of_container .slide_body {
	display:none;
	padding:10px 10px 10px 11px;
}


#of_container .slider li input,#of_container .slider li textarea,#of_container .slider li .screenshot,#of_container .slider li .of-option-image {
	width:311px;
}

#of_container a.slide_edit_button, #of_container a.slide_delete_button {
	text-indent:-9999px;
	font-size:0;
}
#of_container a.slide_edit_button {
	position: absolute;
	right: 0;
	top: 0;
	width:32px;
	height:32px;
}

#of_container a.slide_delete_button {
	float: right;
	margin: 0 0 0 7px;
	width:16px;
	height:16px;
	background: url(../images/icon-delete.png) no-repeat
}

#of_container .select_wrapper span {
	display: none;
}

#of_container .select_wrapper .select option#excerpt {
	height: auto;
}

#of_backup {
	margin: 40px 20px;
	width: 600px;
}
#of_backup textarea {
	margin-bottom: 9px !important;
	background-color: #F1F1F1;
	border: 1px solid;
	width: 100%;
	padding: 4px;
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	border-color: #CCC #E6E6E6 #E6E6E6 #CCC;
}

#of_container #content .section-backup .controls { width: 80%}
#of_container #content .section-backup .explain {
	display:none
}
#of_container #content .section-backup .backup-box {
	margin: 0 0 20px;
}

#of_container #content .section-backup .instructions {
	margin: 0 0 10px;
	color: #777;
}
#of_container #content .section-backup .button, #of_container #content .section-transfer .button {
	margin: 0 25px 0 0;
}

/* google fonts previewer field style */
#of_container p.google_font_preview {
	display: block;
	background: #FAF6E1;
	float: left;
	padding: 10px 20px;
	min-width: 560px;
	width: auto;
	height: auto;
	margin: 0;
	line-height: 1.2;
	-webkit-user-select: none;
	   -moz-user-select: none;
	}
#of_container p.body_text_font_ggf_previewer.google_font_preview {
	line-height: 24px;
	}
#of-option-typography .controls select {
	width: 600px;
	}
#of_container #of-option-typography .section h3.heading {
	font-size: 1.5em;
	padding: 35px 0 5px;
	}
#of_container #of-option-typography .section:nth-child(2) h3.heading {
	padding-top: 0;
	}
#of_container #of-option-typography .section.section-text.font h3.heading {
	font-size: 1.2em;
	font-weight: normal;
	padding: 6px 0 4px;
	color: #999;
	}
#of_container #content #of-option-typography .section.section-text .controls,
#of_container #content #of-option-typography .section.section-text .controls input[type="text"] {
	width: 60px;
	margin-bottom: 0;
	}
#of_container #content #of-option-typography .section.section-select .explain {
	clear: both;
	width: auto;
	}
#of_container #content #of-option-typography .section.section-text .explain {
	font-size: 14px;
	padding: 9px 20px 0 0;
	margin: 0;
	width: 200px;
	}
#of_container #content #of-option-typography .section.section-text {
	float: left;
	width: 300px;
	}
#of_container #content .f_header_show_contacts.section-text,
#of_container #content .f_header_show_socials.section-text {
	float: left;
	width: 315px;
	}
#of_container #content #section-header_custom_icon,
#of_container #content #section-header_custom_text {
	margin-bottom: 20px;
	}
#of_container #content #section-header_social_rss,
#of_container #content #section-header_social_foursquare,
#of_container #content #section-header_social_twitch,
#of_container #content #section-header_social_soundcloud,
#of_container #content #section-header_social_dribbble,
#of_container #content #section-header_social_xing,
#of_container #content #section-header_social_skype,
#of_container #content #section-header_social_instagram,
#of_container #content #section-header_social_vimeo,
#of_container #content #section-header_social_linkedin,
#of_container #content #section-header_social_twitter,
#of_container #content #section-header_email,
#of_container #content #section-header_custom_text {
	width: 285px;
	}
	#of_container #content .f_header_show_contacts.section-text .controls,
	#of_container #content .f_header_show_socials.section-text .controls {
		width: auto;
		}
		#of_container .f_header_show_contacts.section-text input[type="text"],
		#of_container .f_header_show_socials.section-text input[type="text"] {
			width: 285px;
			}
.section.section-text.font {
	float: left;
	}
.section.section-select,
.section.section-select_google_font {
	clear: both;
	}

#of_container #content #section-custom_css .controls,
#of_container #section-custom_css .controls textarea {
	width: 100%;
	margin: 0;
	}

.temphide {display:none;}

#of_container #content #of-option-footeroptions .section.section-text.font .controls,
#of_container #content #of-option-footeroptions .section.section-text.font .controls input[type="text"] {
	width: 60px;
	margin-bottom: 0;
	}
#of_container #content #of-option-footeroptions .section.section-text.font .explain {
	font-size: 14px;
	padding: 9px 20px 0 0;
	margin: 0;
	width: 200px;
	}
#of_container #content #of-option-footeroptions .section.section-text.font {
	float: left;
	width: 300px;
	}

.section.section-subheading {
	text-align: center;
	padding: 30px 0 5px;
	clear: both;
	}
h2 + .section.section-subheading {
	padding-top: 0;
	}
	.section.section-subheading:before {
		content: '';
		display: block;
		height: 1px;
		position: relative;
		top: 18px;
		background-color: #e5e5e5;
		}
	#of_container #content .section.section-subheading h3 {
		display: inline-block;
		vertical-align: top;
		font-size: 1.8em;
		font-weight: 300;
		line-height: 30px;
		padding: 0 10px;
		position: relative;
		background-color: #fff;
		}
	.section.section-subheading .option {
		display: none;
		}
		
#of_container #content .section.section-title,
#of_container #content .section.section-title h3 {
	margin-bottom: 0;
	}


/*-------------------------------------------------------------------------------------------*/
/* Switch
/*-------------------------------------------------------------------------------------------*/
p.switch-options{ margin: 0; }
.cb-enable,
.cb-disable {
	float: left;
	}
	.cb-enable span,
	.cb-disable span {
		display: block;
		line-height: 30px;
		font-size: 11px;
		padding: 0 10px;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.08) inset;
		background-color: #f5f5f5;
		-webkit-transition: background-color 0.3s, color 0.3s;
				transition: background-color 0.3s, color 0.3s;
		}
	.cb-disable.selected span {
		background-color: #bbb;
		color: #fff;
		}
	.cb-enable.selected span {
		background-color: #7fba00;
		color: #fff;
		}
	.switch-options label { cursor: pointer; }
	.switch-options input { display: none; }
	.cb-enable span, .cb-disable span{
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

.section .w-info {
	font-size: 14px;
	font-weight: normal;
	color: #9aa0a6;
	}
.section .explain .w-info {
	display: block;
	margin-top: -10px;
	}

.upload.of-input {
	display: none;
	}
.button.image_upload_button {
	display: block;
	text-align: center;
	font-weight: 600;
	}
.button.image_reset_button {
	display: block;
	position: absolute;
	top: 53px;
	right: 11px;
	text-align: center;
	margin: 0 !important;
	padding: 2px 8px !important;
	border: none !important;
	background: rgba(11,11,11,0.75) !important;
	opacity: 0;
	}
	.section-upload .controls:hover .button.image_reset_button {
		opacity: 1;
		}
